<!DOCTYPE html>
<html>
  <head>
    <title>subbu</title>
    <% include Partials/Stylesheets %>
  </head>
  <body>
  <div id="overlay">
  </div>
  <div id="preloader5"></div>
    <div class="holder">
      <% include Partials/Leftsidebar %>
      <div class="center-bar">
        <% include Partials/Header %>
        <div class="post-scroll">
          <% if(Page === "tags") { %>
            <p class="tag-details">Posts with the tag: <span><%= Tag %></span></p>
          <% } %>
          <% if(Page === "authors") { %>
            <p class="tag-details">Posts by the author: <span><%= Author %></span></p>
          <% } %>
          <% for(var i=0; i<JSON.parse(posts).length; i++){ %>
          <div class="post-card">
            <a href="\Posts?name=<%- JSON.parse(posts)[i].PostName %>" class="post-header"><%= JSON.parse(posts)[i].PostName %></a>
            <a href="\authors?name=<%- JSON.parse(posts)[i].Author %>" class="author"><%= JSON.parse(posts)[i].Author %></a>
            <a href="\Date?date=<%- JSON.parse(posts)[i].DateTime.split(',')[0] %>" class="time"><%= JSON.parse(posts)[i].DateTime %></a>
            <% if(Page === "index" || Page === "tags" || Page === "authors") { %>
              <p class="post-content"><%- JSON.parse(posts)[i].PostPreview %>... <a href="\Posts?name=<%- JSON.parse(posts)[i].PostName %>" class="read-more">Read More</a></p>
            <% } %>
            <% if(Page === "posts") { %>
              <p class="post-content"><%- JSON.parse(posts)[i].PostContent %></p>
            <% } %>
            <div class="tags">
              <p>
                <b>Tags:</b>
                <% for(var j=0; j<JSON.parse(posts)[i].Tags.length; j++){ %>
                  <a href="\tags?name=<%- JSON.parse(posts)[i].Tags[j] %>" class="tag"><%- JSON.parse(posts)[i].Tags[j] %></a>
                <% } %>
              </p>
            </div>
            <% if(Page === "posts") { %>
            <div class="comments">
              <input type="textarea" placeholder="Your name" name="comment" required="false">
              <label class="commentlabel">Input your thoughts!</label><br>
              <textarea rows="4" cols="50" class="commentbox"></textarea>
            </div>
            <% } %>
          </div>
          <% } %>
        </div>
      </div>
      <% include Partials/Rightsidebar %>
      <% include Partials/Footer %>
    </div>
    <% include Partials/Javascripts %>
  </body>
</html>
