<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include Partials/Stylesheets %>
  </head>
  <body>
  <div id="overlay">
  </div>
  <div id="preloader5"></div>
    <div class="holder">
      <% include Partials/Leftsidebar %>
      <div class="center-bar">
        <% include Partials/Header %>
        <div class="post-scroll">
          <% for(var i=0; i<JSON.parse(posts).Posts.length; i++){ %>
          <div class="post-card">
            <a href="\Posts\<%= i %>" class="post-header"><%= JSON.parse(posts).Posts[i].PostName %></a>
            <a href="\authors\<%= JSON.parse(posts).Posts[i].Author %>" class="author"><%= JSON.parse(posts).Posts[i].Author %></a> <a href="\Date\<%= JSON.parse(posts).Posts[i].DateTime %>" class="time"><%= JSON.parse(posts).Posts[i].DateTime %></a>
            <p class="post-content"><%- JSON.parse(posts).Posts[i].PostPreview %>... <a href="\Posts\<%= i %>" class="read-more">Read More</a></p>
            <div class="tags">
              <p>
                <b>Tags:</b>
                <% for(var j=0; j<JSON.parse(posts).Posts[i].Tags.length; j++){ %>
                  <a href="\tags\<%= JSON.parse(posts).Posts[i].Tags[j] %>" class="tag"><%= JSON.parse(posts).Posts[i].Tags[j] %></a>
                <% } %>
              </p>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <% include Partials/Rightsidebar %>
      <% include Partials/Footer %>
    </div>
    <% include Partials/Javascripts %>
  </body>
</html>
